input {
    width: 50%;
    margin: 20px auto;
    border: none;
    border-bottom: 1px solid #cdcdcd;
}
input:focus{
    border-bottom: 1px solid #000;
    color: #000;
}
input:focus::placeholder{
    color: #000;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px;
    text-align: center;
}
@media(max-width: 800px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    input{
        width: 80%;
    }
}
@media(max-width: 500px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    input{
        width: 80%;
    }
}