.badges{
    display: flex;
    width: 80%;
    height: 220px;
    margin: 15px auto;
    justify-content: center;
    align-items: center;
}
.risks{
    margin: 0 auto;
    background: #ee0000;
    color: white;
    text-align: center;
}

@media(max-width: 800px){
    .badges{
        display: block;
        width: 100%;
        margin-bottom: 150px;
    }
    .risks{
        width: 45%;
    }
}
@media(max-width: 500px){
    .badges{
        display: block;
        width: 100%;
        margin-bottom: 150px;
    }
    .risks{
        width: 60%;
    }
}