.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 20px auto;
    grid-gap: 10px;
}
@media(max-width: 900px){
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 500px){
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}