<div class="auth">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Risk App Login</h1>
    <label for="inputText" class="sr-only">Login de Rede</label>
    <input type="text" id="inputText" class="form-control" placeholder="Login de Rede" required>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
    <button class="btn btn-lg btn-block" type="submit">Login</button>
  </form>
</div>